/* screen - dieta */

.dieta {
  background-color: var(--white);
  height: 568px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 320px;
}

.dieta .bottom-SxMQwh {
  background-color: transparent;
  height: 70px;
  left: -51px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 371px;
}

.dieta .rectangle-3-dxJntx {
  background-color: var(--cod-gray);
  height: 56px;
  left: 51px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 320px;
}

.dieta .health-dxJntx {
  background-color: transparent;
  height: 62px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 181px;
}

.dieta .track-dxJntx {
  background-color: transparent;
  height: 19px;
  left: 107px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  width: 96px;
}

.dieta .ref-2-SxMQwh {
  background-color: transparent;
  height: 20px;
  left: 193px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 111px;
  width: 99px;
}

.dieta .user-menu-SxMQwh {
  background-color: transparent;
  height: 53px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 505px;
  width: 320px;
}

.dieta .rectangle-6-KJfcoS {
  background-color: var(--mist-gray);
  height: 53px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 320px;
}

.dieta .user-icon-1-KJfcoS {
  background-color: transparent;
  height: 44px;
  left: 127px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 46px;
}

.dieta .line-11-KJfcoS {
  background-color: transparent;
  height: 1px;
  left: 12px;
  position: absolute;
  top: 16px;
  width: 39px;
}

.dieta .line-12-KJfcoS {
  background-color: transparent;
  height: 1px;
  left: 12px;
  position: absolute;
  top: 26px;
  width: 39px;
}

.dieta .line-13-KJfcoS {
  background-color: transparent;
  height: 1px;
  left: 12px;
  position: absolute;
  top: 36px;
  width: 39px;
}

.dieta .food-icon-1-KJfcoS {
  background-color: transparent;
  height: 34px;
  left: 260px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 39px;
}

.dieta .dieta-SxMQwh {
  background-color: transparent;
  height: 38px;
  left: 65px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 70px;
  width: 184px;
}

.dieta .ref-1-SxMQwh {
  background-color: transparent;
  height: 20px;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 111px;
  width: 99px;
}

.dieta .x-SxMQwh {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-russo_one);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
  height: 58px;
  left: 150px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 378px;
  width: auto;
}

.dieta .adicionar-refeio-SxMQwh {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-russo_one);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  height: 16px;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 441px;
  width: auto;
}

.dieta .rectangle-13-SxMQwh {
  background-color: var(--mist-gray);
  height: 231px;
  left: 12px;
  mix-blend-mode: normal;
  position: absolute;
  top: 141px;
  width: 151px;
}

.dieta .rectangle-14-SxMQwh {
  background-color: var(--mist-gray);
  height: 233px;
  left: 170px;
  mix-blend-mode: normal;
  position: absolute;
  top: 138px;
  width: 145px;
}

.dieta .item-SxMQwh {
  background-color: transparent;
  height: 12px;
  left: -5px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 140px;
  width: 70px;
}

.dieta .qtd-SxMQwh {
  background-color: transparent;
  height: 10px;
  left: 56px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 140px;
  width: 63px;
}

.dieta .kcal-SxMQwh {
  background-color: transparent;
  height: 8px;
  left: 112px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 141px;
  width: 45px;
}

.dieta .line-16-SxMQwh {
  background-color: transparent;
  height: 1px;
  left: 12px;
  position: absolute;
  top: 152px;
  width: 151px;
}

.dieta .ovos-SxMQwh {
  background-color: transparent;
  height: 7px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 172px;
  width: 56px;
}

.dieta .brocolis-SxMQwh {
  background-color: transparent;
  height: 10px;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 198px;
  width: 56px;
}

.dieta .banana-prata-SxMQwh {
  background-color: transparent;
  height: 9px;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 236px;
  width: 58px;
}

.dieta .x4-und-SxMQwh {
  background-color: transparent;
  height: 14px;
  left: 67px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 168px;
  width: 32px;
}

.dieta .x100-g-SxMQwh {
  background-color: transparent;
  height: 12px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 194px;
  width: 46px;
}

.dieta .x150-g-SxMQwh {
  background-color: transparent;
  height: 12px;
  left: 65px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 233px;
  width: 38px;
}

.dieta .x350-SxMQwh {
  background-color: transparent;
  height: 10px;
  left: 117px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 171px;
  width: 36px;
}

.dieta .x40-SxMQwh {
  background-color: transparent;
  height: 11px;
  left: 125px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 196px;
  width: auto;
}

.dieta .x220-SxMQwh {
  background-color: transparent;
  height: 10px;
  left: 114px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 234px;
  width: 36px;
}

.dieta .x-sPfCx6 {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-russo_one);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
  height: 18px;
  left: 63px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 258px;
  width: 31px;
}

.dieta .total-SxMQwh {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-russo_one);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: 15px;
  left: 54px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 289px;
  width: 54px;
}

.dieta .x24-g-prot-SxMQwh {
  background-color: transparent;
  height: 12px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 317px;
  width: 48px;
}

.dieta .x35-g-carb-SxMQwh {
  background-color: transparent;
  height: 28px;
  left: 67px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 310px;
  width: 37px;
}

.dieta .x25-g-gord-SxMQwh {
  background-color: transparent;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 314px;
  width: 47px;
}

.dieta .x375-kcal-SxMQwh {
  background-color: transparent;
  height: 14px;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 354px;
  width: 54px;
}

.dieta .line-17-SxMQwh {
  background-color: transparent;
  height: 106px;
  left: 63px;
  position: absolute;
  top: 152px;
  width: 3px;
}

.dieta .line-18-SxMQwh {
  background-color: transparent;
  height: 109px;
  left: 111px;
  position: absolute;
  top: 150px;
  width: 2px;
}

.dieta .line-19-SxMQwh {
  background-color: transparent;
  height: 3px;
  left: 11px;
  position: absolute;
  top: 256px;
  width: 150px;
}
